  /*Para todo el documento*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Para la cabecera*/
header {
  background: linear-gradient(90deg, #0d47a1, #1976d2);
  color: white;
  padding: 20px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

  body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #e3f2fd;
  color: #222;
  line-height: 1.6;
  padding-bottom: 40px;
    }

/*Para el logo de la pagina web*/
  .logo {
  align-items: center;
  gap: 20px;
  }

  .logo img {
  width: 90px;
  border-radius: 10px;
  }

.logo h1 {
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 600;
}
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

/*Para las entradas del blog , en este caso los jugadores*/
article.entrada {
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 40px;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

article.entrada:hover {
  transform: translateY(-1px);
  box-shadow: 20px 20px 25px rgba(39, 39, 39, 0.15);
}
/*imagen de los jugadores*/
article.entrada img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  flex-shrink: 0;
}
/*texto de los jugadores*/
article.entrada h2 {
  color: #0d47a1;
  margin-bottom: 10px;
}
/*Lista de los datos de los jugadores*/
article.entrada ul {
  list-style: none;
  margin-bottom: 15px;
  }

article.entrada li {
  margin-bottom: 6px;
  font-size: 15px;
  }

article.entrada h5 {
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
  margin-bottom: 15px;
  }

/*lInk de los videos de la */
iframe {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

/*Responsive*/
@media (max-width: 768px) {
  article.entrada {
    flex-direction: column;
    align-items: center;
  }

  article.entrada img {
    width: 100%;
    max-width: 300px;
  }

  iframe {
    height: 200px;
  }

  .logo {
    flex-direction: column;
    text-align: center;
  }

}

